{% macro navbar() %}
<div id="navbar">
    <div id="logo">
        <img src="/travelmania.webp" alt="TravelMania Logo" width="80px">
    </div>
    <div id="scrolling-text">
        <span>TravelMania</span>
    </div>
    <div id="nav-links">
        <a href="/home">Home</a>
        <a href="/contact">Contact Us</a>
        <a href="/top">Top Destinations</a>
    </div>
</div>
{% endmacro %}
